h1{
   
    color:rgb(6, 0, 1);
    position: absolute;
    margin-top: 260px;
    margin-left: 240px;
    font-size: 57px;
    z-index: 1;
    font-family: serif;
}
.head{
     display: flex;
    gap: 0px 100px;
    position: absolute;
    top: 20px;    
    right: 20px;   
    z-index:1;
    font-size: 20px;
    padding-right: 50px;   
}
.profileimage{
    float: left;
    padding-top: 100px;
    padding-left: 100px;
}

body{
   background: linear-gradient(rgb(243, 252, 248) 50%, rgb(223, 221, 235) 80%) ;
}
#frontend{
    color:rgb(253, 53, 3);
 
}
.front{
    padding-left: 220px;
}
.image{
    opacity: 70%;
    position: relative;
    z-index: 0;
    margin-top: 40px;
}
.about{
    text-align: center;
    font-size: 30px;
    font-family: serif;
}
.para{
    font-size: 20px;
    padding-right: 120px;
    max-width: 900px;
    float:right; 
    text-align: justify; 
    line-height: 1.8;
}
.skillbox{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 300px;
} 
.box{
    display:grid;
    grid-template-columns: auto auto auto auto ;
    gap:15px 120px;
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
} 
.contact{
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 100px;
}

.ite{
    color:rgb(0, 16, 10);
    text-align:center;
    border: 1px solid rgb(177, 251, 177);
    border-radius: 20px;
    background-color: rgb(177, 251, 177);
    height:40px;
    padding-top: 16px;
} 
 .mails{
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* margin-left: 30px; */
    /* padding-top: 50px;  */
}
.calls{
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 50px;
    /* padding-top: 50px;  */
}

.socials{
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 50px;
    /* padding-top: 50px;  */
}
.info{
    display:grid;
    grid-template-columns: auto auto auto auto;
    gap:10px 10px;
    /* padding-top: 50px; */
    margin-left: 100px;
} 