body{
    margin: 10px 100px 0px 100px;
    line-height: 1.8;
}
.name{
    text-align: center;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.softdev{
    text-align: center;
    font-size: 39px;
}
.details{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px 50px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
}
.fonts{
    text-align: center;
    font-size: 20px;
    background-color: rgb(212, 210, 210);
}
.techhead{
    text-align: center;
    font-size: 20px;
    background-color: rgb(212, 210, 210);
}
.softhead{
    text-align: center;
    font-size: 20px;
    background-color: rgb(212, 210, 210);
}
.eduhead{
    text-align: center;
    font-size: 20px;
    background-color: rgb(212, 210, 210);
}
.exphead{
    text-align: center;
    font-size: 20px;
    background-color: rgb(212, 210, 210);
}
.certihead{
    text-align: center;
    font-size: 20px;
    background-color: rgb(212, 210, 210);
}
.awardhead{
    text-align: center;
    font-size: 20px;
    background-color: rgb(212, 210, 210);
}
.para{
    font-size: 18px;
    text-align: justify;
}
.techskills{
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-size: 18px;
    
    gap:10px 0px; 
} 
.softskills{
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-size: 18px;
    
    gap:10px 0px; 
} 
.edu{
    font-size: 18px;
}
.pro{
    font-size: 18px;
}
.certi{
    font-size: 18px;
}
.lang{
    font-size: 18px;
}
.activity{
    font-size: 18px;
}